<ion-content class="ion-text-center">
  <div class="wrapper"></div>
  <ion-row>
    <ion-col size="12" class="sign-message ion-padding-top">
      <img class="padding-top-20" src="assets/s1.png" />
    </ion-col>

    <ion-col size="12" class="message padding-horizontal-22">
      Congratulations! You have learned everything
    </ion-col>

    <ion-col size="12">
      <div
        class="ion-activatable ripple-parent starting-button float-left"
        (click)="gotoHome()"
      >
        <img class="width-40" src="assets/buttons/circular/home.png" />
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div
        class="ion-activatable ripple-parent starting-button"
        (click)="retry()"
      >
        <img class="width-40" src="assets/buttons/circular/retry.png" />
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-col>
    <!-- <ion-col size="6">
      <div class="ion-activatable ripple-parent starting-button" (click)="closeModal()">
        <img src="assets/buttons/circular/retry.png">
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-col> -->
  </ion-row>
</ion-content>
