<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" slot="start" fill="clear">
        <ion-icon name="arrow-back" slot="icon-only" color="white"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center ion-no-padding" *ngFor="let category of categories" size="6" >
        <ion-button expand="full" (click)="gotoLevels(category.key)"  class="boxes text-category" [ngClass]="{ 'boxes-disabled': category.key > currLvl}" [disabled]="!category.available">{{ category.name }}</ion-button>
      </ion-col>
    </ion-row>
  </div>
  
</ion-content>
