<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" slot="start" fill="clear">
        <img src="./assets/buttons/circular/back.png"> 
        <ion-icon name="arrow-back" slot="icon-only" color="white"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-title" text-center>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <div>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center ion-no-padding" *ngFor="let category of categories" size="6" >
        
        <div *ngIf="category.available" [ngClass]="{ 'current': currLvl == category.key}" class="ion-activatable ripple-parent starting-button">
          <img [src]="category.url"  style="width : 100%" (click)="gotoLevels(category.key)" >
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div *ngIf="!category.available" class="disabled starting-button">
          <img [src]="category.url" style="width : 95%">
        </div>

      </ion-col>
    </ion-row>
  </div>

  <ion-button (click)="openModal()">uwee</ion-button> -
  <!-- <img [src]="url"> -->
</ion-content>
