<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="text-title ion-text-center" style="margin-top: 40%;">
    <ion-col>
      Learn Chinese
    </ion-col>
  </ion-row>
  <div id="container">
    
    <ion-row >
      <ion-col>
        <ion-button (click)="gotoCat()" class="boxes text-category" expand="block" color="verdigris">Learn</ion-button>
      </ion-col>
    </ion-row>
  
    <ion-row style="margin-top: 10px;">
      <ion-col>
        <ion-button class="boxes text-category" expand="block" color="verdigris">Practice</ion-button>
      </ion-col>
      
    </ion-row>
  </div>
  
</ion-content>
