ion-content {
  --background: url("../../../assets/background.jpg") no-repeat center center /
    cover;
}
ion-toolbar {
  --background: transparent;
}
.header-md::after {
  display: none;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-75%);
}

.boxes {
  margin-right: 20px;
  margin-left: 20px;
  height: 60px;
}

.text {
  &-category {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
  }
}

.starting-button {
  width: 70%;
  border-radius: 40px;
  margin: auto;
}
