<ion-content class="ion-text-center">
  <div class="wrapper">
    <ion-row>
      <ion-col>
        <div
          class="ion-activatable ripple-parent starting-button"
          (click)="gotoProfile()"
        >
          <img src="../../../assets/buttons/profileBtn.png" />
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div
          class="ion-activatable ripple-parent starting-button"
          (click)="gotoLeaderboard()"
        >
          <img src="../../../assets/buttons/leaderboardBtn.png" />
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div
          class="ion-activatable ripple-parent starting-button"
          (click)="logout()"
        >
          <img src="../../../assets/buttons/logoutBtn.png" />
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
